<h1>{{searchProjectCtrl.projet.title}}</h1>
<ul>
  <li>Nom : {{searchProjectCtrl.projet.title}}</li>
  <li>Description : {{searchProjectCtrl.projet.description}}</li>
  <li>Année : {{searchProjectCtrl.projet.year}}</li>
</ul>
<div ng-show="searchProjectCtrl.users.length">
<h1>Participants : </h1>
<ul>
  <li ng-repeat="user in searchProjectCtrl.users">{{user.name+" "+user.surname}}</li>
</ul>
</div>
<input type="submit" class="btn btn-primary pull-center" value="Editer" ng-click="searchProjectCtrl.editer(searchProjectCtrl.projet.id)"/>
<input type="submit" class="btn btn-primary pull-center" value="Supprimer" ng-click="searchProjectCtrl.supprimer(searchProjectCtrl.projet.id)"/>
<input type="submit" class="btn btn-primary pull-center" value="Retour" ng-click="searchProjectCtrl.retour()"/>
