<h1>{{searchCtrl.utilisateur.name+' '+ searchCtrl.utilisateur.surname}}</h1>
<ul>
  <li>Nom : {{searchCtrl.utilisateur.name}}</li>
  <li>Prénom : {{searchCtrl.utilisateur.surname}}</li>
  <li ng-show="searchCtrl.utilisateur.email">Mail : {{searchCtrl.utilisateur.email}}</li>
  <li ng-show="searchCtrl.utilisateur.website">site : {{searchCtrl.utilisateur.website}}</li>
</ul>
<h1 ng-show="searchCtrl.projects.length">Ses projets</h1>
<ul>
  <li ng-repeat="project in searchCtrl.projects" ng-show="project.title">
    {{searchProjectCtrl.getRole(project.id,searchCtrl.roles)}}
    <p>Nom : {{project.title}}</p>
    <p>Description : {{project.description}}</p>
    <p>Role : {{searchProjectCtrl.rolesList[project.id]}}</p>
  </li>
</ul>
<input type="submit" class="btn btn-primary pull-center" value="Editer" ng-click="searchCtrl.editer(searchCtrl.utilisateur.id)"/>
<input type="submit" class="btn btn-primary pull-center" value="Supprimer" ng-click="searchCtrl.supprimer(searchCtrl.utilisateur.id)"/>
<input type="submit" class="btn btn-primary pull-center" value="Retour" ng-click="searchCtrl.retour()"/>
