<h1>Ajouter un projet</h1>
<div ng-show="!addProjectCtrl.addToBDD">
  <h3>{{addProjectCtrl.erreur}}</h3>
  <form id="addForm" name="addForm" ng-submit="addProjectCtrl.addProject()">
    <fieldset class="form-group">
      <input ng-model="addProjectCtrl.title" class="form-control" placeholder="Titre" title="Title" />
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="addProjectCtrl.description" class="form-control" placeholder="Description du projet" title="Description" />
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="addProjectCtrl.year" type="" class="form-control" placeholder="2015" title="Year" />
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Ajouter un projet" />
    </fieldset>
  </form>
</div>
<div ng-show="addProjectCtrl.addToBDD">
  <p>
    Félicitation, vous avez ajouté un projet à la base de donnée!
  </p>
  <input type="submit" class="btn btn-primary pull-center" value="Ajouter à nouveau" ng-click="addProjectCtrl.clearForm()"/>
</div>
