<h1>Ajouter un utilisateur</h1>
<div ng-show="!addUserCtrl.addToBDD">
  <h3>{{addUserCtrl.erreur}}</h3>
<form id="addForm" name="addForm" ng-submit="addUserCtrl.addUser()">
  <fieldset class="form-group">
    <input ng-model="addUserCtrl.name" class="form-control" placeholder="Nom" title="Name" />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="addUserCtrl.surname" class="form-control" placeholder="Prénom" title="Surname" />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="addUserCtrl.site" class="form-control" placeholder="http://www.m0n5i73tr05w4gg.com" title="Name" />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="addUserCtrl.mail" type="email" class="form-control" placeholder="chucknorris@example.yolo" title="Email" />
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Ajouter un utilisateur" />
  </fieldset>
</form>
</div>
<div ng-show="addUserCtrl.addToBDD">
  <p>
  Félicitation, vous avez ajouté un utilisateur à la base de donnée!
  </p>
  <input type="submit" class="btn btn-primary pull-center" value="Ajouter à nouveau" ng-click="addUserCtrl.clearForm()"/>
</div>
