<h1>Editer un utilisateur</h1>
<form id="editForm" name="editForm" ng-submit="searchCtrl.editerValide()">
  <fieldset class="form-group">
    <input ng-model="searchCtrl.utilisateur.name" class="form-control" placeholder="Nom" title="Name" />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="searchCtrl.utilisateur.surname" class="form-control" placeholder="Prénom" title="Surname" />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="searchCtrl.utilisateur.website" class="form-control" placeholder="http://www.m0n5i73tr05w4gg.com" title="Name" />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="searchCtrl.utilisateur.email" type="email" class="form-control" placeholder="chucknorris@example.yolo" title="Email" />
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Editer un utilisateur" />
  </fieldset>
  <fieldset class="form-group">
    <input type="button" class="btn btn-primary pull-right" value="Annuler" ng-click="searchCtrl.finEdition()"/>
  </fieldset>
</form>
