<h1>Editer un projet</h1>
  <form id="editorm" name="editForm" ng-submit="searchProjectCtrl.editerValide()">
    <fieldset class="form-group">
      <input ng-model="searchProjectCtrl.projet.title" class="form-control" placeholder="Titre" title="Title" />
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="searchProjectCtrl.projet.description" class="form-control" placeholder="Description du projet" title="Description" />
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="searchProjectCtrl.projet.year" type="" class="form-control" placeholder="2015" title="Year" />
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Editer un projet" />
    </fieldset>

    <fieldset class="form-group">
      <input type="button" class="btn btn-primary pull-right" value="Annuler" ng-click="searchProjectCtrl.finEdition()"/>
    </fieldset>
  </form>
