<div class="jumbotron">
  <h1>Coucou toi!</h1>
  <p class="lead">
    Bienvenue sur mon site web!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Awesome!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <p>
    Vous pouvez trouver ici ce sur quoi j'ai travaillé et ce sur quoi j'aime passer mon temps, mais aussi une page me présentant et une autre pour me contacter!
  </p>
  <p>Quelques avis sur ce site : </p>
  <blockquote><p>"Ce site mérite au moins 20/20"</p><p>- R.PIGHETTI *</p></blockquote>
  <blockquote><p>"Ce jeune homme mérite 20/20 pour ses compétences et devrait déjà avoir son diplôme"</p><p>- P.GOURBESVILLE *</p></blockquote>

  <p>* Toutes ressemblances avec des personnes ayant déjà existé serait totalement fortuite. Par contre la note proposée n'est pas fortuite mais même fortement conseillée voir imposée.</p>
</div>
