<ul class="nav nav-pills pull-right">
  <li ng-class="{active:tabCookie.isSet(0)}"><a ng-href="#" ng-click="tabCookie.setTab(0)">Home</a></li>
  <li ng-class="{active:tabCookie.isSet(1)}"><a ng-href="#/recherche-utilisateur" ng-click="tabCookie.setTab(1)">Rechercher un utilisateur</a></li>
  <li ng-class="{active:tabCookie.isSet(2)}"><a ng-href="#/ajouter-utilisateur" ng-click="tabCookie.setTab(2)">Ajouter un utilisateur</a></li>
  <li ng-class="{active:tabCookie.isSet(3)}"><a ng-href="#/recherche-projet" ng-click="tabCookie.setTab(3)">Rechercher un projet</a></li>
  <li ng-class="{active:tabCookie.isSet(4)}"><a ng-href="#/ajouter-projet" ng-click="tabCookie.setTab(4)">Ajouter un projet</a></li>

</ul>


