<div ng-show="!searchProjectCtrl.specificProject">
  <rechercher-projet></rechercher-projet>
  <ul>
    <li ng-repeat="project in searchProjectCtrl.projects | filter:searchProjectCtrl.chercherNom" ng-show="project.title">
      <a ng-click="searchProjectCtrl.afficherNom({{project.id}})" ng-href="#/recherche-projet">{{project.title}}</a>
    </li>
  </ul>
</div>

<div ng-show="(searchProjectCtrl.specificProject && !searchProjectCtrl.editProject)">
  <affiche-projet></affiche-projet>
</div>

<div ng-show="(searchProjectCtrl.specificProject && searchProjectCtrl.editProject)">
  <editer-projet></editer-projet>
</div>
