<h1>Recherche de projets</h1>
<p>
  {{searchProjectCtrl.chercher}}
</p>
<input ng-model="searchProjectCtrl.chercher"/>

<button ng-click="searchProjectCtrl.rechercherProjetParNom()">Rechercher par nom</button>
<button ng-click="searchProjectCtrl.clearSearch()">Annuler</button>
<h2 ng-show="searchProjectCtrl.chercherNom.length">Résultat de la recherche : </h2>
