<div ng-show="!searchCtrl.specificUser">
  <rechercher-utilisateur></rechercher-utilisateur>
  <ul>
    <li ng-repeat="user in searchCtrl.users | filter:searchCtrl.chercherNom" ng-show="user.name">
      <a ng-click="searchCtrl.afficherNom({{user.id}})" ng-href="#/recherche-utilisateur">{{user.name + ' ' + user.surname}}</a>
    </li>
  </ul>
</div>
<div ng-show="(searchCtrl.specificUser && !searchCtrl.editUser)">
  <affiche-utilisateur></affiche-utilisateur>
</div>

<div ng-show="(searchCtrl.specificUser && searchCtrl.editUser)">
  <editer-utilisateur></editer-utilisateur>
</div>
