<h1>Recherche de personnes</h1>
<p>
  {{searchCtrl.chercher}}
</p>
<input ng-model="searchCtrl.chercher"/>

<button ng-click="searchCtrl.rechercherUtilisateurParNom()">Rechercher par nom</button>
<button ng-click="searchCtrl.clearSearch()">Annuler</button>
<h2 ng-show="searchCtrl.chercherNom.length">Résultat de la recherche : </h2>
